table {
    width: 100%;
    text-align: left;
}
th {
    text-transform: capitalize;
}
#region-select,
#product-select {
    display: flex;
}
input {
    margin-left: 20px;
}
.bar {
    fill: #0082c8;
}