table {
    width: 100%;
    text-align: left;
    font-size: 12px;
}
th {
    text-transform: capitalize;
}
tr:hover:not(:first-of-type) {
    cursor: pointer;
    /* background-color: rgba(0,130,200,0.5); */
}
#region-select,
#product-select {
    display: flex;
}
input {
    margin-left: 20px;
}
tr input {
    margin: 0;
    width: 50px;
    border: none;
    padding: 0;
    outline: none;
}
tr .input-wrapper {
    padding: 2px;
}
tr .input-wrapper:hover,
tr .input-wrapper:focus-within {
    border: 2px solid #4D90FE;
    padding: 0;
}
.input-wrapper {
    display: flex;
}
.input-wrapper .input-edit,
.input-wrapper .input-confirm,
.input-wrapper .input-cancel {
    display: none;
}
.input-wrapper.non-edit:hover .input-edit {
    color: #808080;
    display: inline;
}
.input-wrapper.show-edit .input-confirm {
    color: #3cb44b;
    display: inline;
    margin-right: 10px;
}
.input-wrapper.show-edit .input-cancel {
    color: #ffe119;
    display: inline;
}
.input-wrapper.show-edit .input-edit {
    display: none;
}
.charts {
    display: flex;
}
/* bar-chart styles */
figure {
    margin: 0;
    width: 650px;
    height: 360px;
}
figcaption {
    text-align: center;
}
.axis {
    stroke: #000000;
}
rect {
    fill: #0082c8;
}
text {
    fill: #000000;
}
.y-label text {
    width: 40px;
    text-align: right;
}